@media (min-width: 768px) {
  .content {
    grid-template-columns: 2fr 1fr;
  }

  #products__section {
    grid-column: 1;
  }

  #cart__section {
    grid-column: 2;
  }

  .section {
    display: block !important;
  }

  .tabs {
    /* display: none; */
  }
}

@media (max-width: 767px) {
  .products__container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  header {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
