@media (min-width: 768px) {
  .content {
    grid-template-columns: 2fr 1fr;
  }

  #products__section {
    grid-column: 1;
  }

  #cart__section {
    grid-column: 2;
  }

  .section {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #cart__section {
    display: block;
    margin-top: 20px;
  }

  header {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
